
.footer{
    color: var(--color-light);
    text-align: center;
    padding: var(--padding-primary);
}

.footer h4{
    font-size: 0.9rem;
}

.footer a{
    color: var(--color-light);
    text-decoration: none;
    transition: all 0.3s linear;
}

.footer a:hover{
    color: var(--color-primary);
}